.container {
  background: black;
  height: 100vh;
}

.loader {
  height: 4px;
  width: 100%;
  position: relative;
  overflow: hidden;
  background-color: #ddd;
}

.loader:before {
  display: block;
  position: absolute;
  content: '';
  left: -200px;
  width: 200px;
  height: 4px;
  background-color: #ffa64d;
  animation: loading 0.5s linear infinite;
}

@keyframes loading {
  from {
    left: -200px;
    width: 30%;
  }

  50% {
    width: 30%;
  }

  70% {
    width: 70%;
  }

  80% {
    left: 50%;
  }

  95% {
    left: 120%;
  }

  to {
    left: 100%;
  }
}

/* zoom image */

/* The outermost element*/
.headerWrapper {
  margin: 0 auto;
  width: 400px;
  height: 99%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  width: 100%;
  align-items: center;
}

.zoominheader {
  background: url('/assets/logo.png');
  background-size: auto;
  /* background-attachment: fixed;
  background-repeat: repeat; */
  background-size: cover;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-animation: zoomin 10s ease-in infinite;
  animation: zoomin 10s ease-in infinite;
  transition: all 0.5s ease-in-out;
  overflow: hidden;
}

/* The innermost element*/
.zoomoutheader {
  width: 400px;
  height: 320px;
  text-align: center;
  background: none;
  -webkit-animation: zoomout 0.75s ease-in infinite;
  animation: zoomout s ease-in infinite;
  transition: all 0.15s ease-in-out;
  overflow: hidden;
}

/* Zoom in Keyframes */
@-webkit-keyframes zoomin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomin {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.5);
  }

  100% {
    transform: scale(1);
  }
}

/*End of Zoom in Keyframes */

/* Zoom out Keyframes */
@-webkit-keyframes zoomout {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.67);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes zoomout {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(0.67);
  }

  100% {
    transform: scale(1);
  }
}

/*End of Zoom out Keyframes */

/*Style for the text*/
.text {
  color: red;
  font-weight: bold;
}
